body{
    margin: 0;
}

.title{
    background-color: rgb(250, 199, 199);
    padding-bottom: 30px;
    padding-top: 10px;
}

.title.new-height{
    height: 270px;
    margin-top:0px;
}

.title.new-height .main{
    margin: 0px;
    padding-top:10px;
}

img.choco-height{
    width: 200px;
    height: auto; 
}

.main{
    text-align: center;
    color: #FFFFFF;
    font-family: optima, "Noto Sans", sans-serif;
}

.odin-header{
    font-size: 50px;
    padding-top: 20px;
    margin:0;
}

#comfort-header{
    font-size: 30px;
}

form{
    display: inline;
    width: 200px;
    height: 20px;
    margin: 0 auto;
}

#index-para{
    color: #28282B;
    margin-top: 40px;
}


.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 200px;
    height: auto;
}

.placement{
    font-family:  optima, "Noto Sans", sans-serif;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.main .description{
    color: #28282B;
    margin-top: 40px;

}

.main .para{
    color: #28282B;
    margin-top: 0px;
}

.lists{
    color: #28282B;
    font-family: optima, "Noto Sans", sans-serif;
}

